@import '@/assets/styles/scssVars.scss';

* {
	box-sizing: border-box;
	font-family: 'Noto Sans';
	color: $textColor;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: $bg;
	margin: 0;
	padding: 0;
}
select {
	background-color: $bgContrast;
	padding: 0.25rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	margin-bottom: 0.5rem;
}